[Unit]
Description=Dynamic content for ncph
After=network.target

[Service]
ExecStart=/usr/local/bin/ncph-server -bindaddr :PORT

[Install]
WantedBy=multi-user.target
